
MyPlayground.playground/playground.xcworkspace/xcuserdata/ChenXin.xcuserdatad/UserInterfaceState.xcuserstate

MyPlayground.playground/playground.xcworkspace/contents.xcworkspacedata

*.xctimeline

*.xcuserstate

*.xcworkspacedata

*.plist

*.plist

*.plist

*.storyboard

*.storyboard

*.json

*.xcbkptlist

20160124-1.playground/contents.xcplayground

*.xcplayground
